@media (max-width: 769px) {
    .promo {
        padding: 21px 20px 93px 20px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 90px;
        }
    }
    .advantages {
        padding: 70px 20px 82px 20px;
    }
    .consultation {
        padding: 90px 20px 92px 20px;
        .title {
            font-size: 28px;
        }
    }
}

@media (max-width: 426px) {
    .header {
        flex-wrap: wrap;
        &__logo {
            width: 50%;
        }
        &__contacts {
            visibility: hidden;
            flex-direction: row;
            align-items: center;
            margin: 0 auto;
            margin-top: 10px;
        }
        &__phone {
            margin-right: 10px;
        }
    }
    .promo {
        background-position: right;
        &__wrapper {
            margin-top: 30px;
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 390px;
        }
    }
    
    .advantages {
        .title {
            font-size: 23px;
        }
        &__wrapper {
            flex-direction: column;
            align-items:center;
            margin-top: 30px;
        }
        &__item {
            margin-top: 15px;
        }
    }

    .consultation {
        padding: 50px 20px 42px 20px;
        .title {
            font-size: 23px;
            text-align: center;
            text-align-last: center;
            br {
                display: none;
            }
        }
        &__descr {
            font-size: 14px;
        }
    }
    
}

@media (max-width: 376px) {
    .header {
        &__logo {
            width: 45%;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 15px;
            }
        }
    }
    .promo {
        min-height: 580px;
        &__wrapper {
            margin-top: 20px;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 12px;
        }
        &__icons {
            margin-top: 45px;
            width: 350px;
        }
        &__link {
            font-size: 13px;
        }
    }

    .button_main {
        width: 278px;
        height: 38px;
        font-size: 14px;
    }
}

@media (max-width: 325px) {
    .header {
        flex-direction: column;
        &__logo {
            width: 60%;
        }
        &__official {
            margin-top: 15px;
        }
        &__contacts {
            margin: 0;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 9px;
        }
        &__header {
            font-size: 21px;
        }
        &__icons {
            width: 316px;
        }
        &__icon {
            font-size: 11px;
        }
    }
}